.video-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  .video {
    width: 50vw;
    height: 50vh;
  }
  .controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-color: transparent;
    margin-top: -30vw;
    padding: 0 40px;
    z-index: 20;

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 18rem;
      margin: auto;

      .controlsIcon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-left: 5rem;
        margin-right: 5rem;
      }
      .controlsIcon--small {
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-left: 10rem;
        margin-right: 10rem;
      }
    }
  }
  .timecontrols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10rem;
    margin-left: 5vw;
    // margin-right: 3vw;
    // margin-top: -20rem;
    width: 39vw;

    .controlsTime {
      color: white;
    }

    .time_progressbarContainer {
      background-color: gray;
      border-radius: 15px;
      //   width: 40vw;
      width: 90%;
      height: 5px;
      z-index: 30;
      position: relative;
      //   margin: 0 20px;

      .time_progressBar {
        border-radius: 15px;
        background-color: indigo;
        height: 100%;
      }
    }
  }
}
