.image-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  display: block;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  span {
    position: absolute;
    font-size: 30px;
    color: white;
    font-weight: bold;
    right: 13px;
    cursor: pointer;
    top: px;
    transform: rotate(10deg);
    border-radius: 50%;
    border: 5px solid red;
    object-fit: contain;
    background-color: red;
    overflow: hidden;
  }
}
